@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  color: #253c78;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

a:hover {
  color: #28536b;
  text-decoration: underline;
}

.bloco {
  background: rgba(245, 245, 244, 0.7);
  backdrop-filter: blur(6px);
  color: #000;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input,
button {
  font-size: 1rem;
  background-color: #fff;
}

input {
  border: none;
  border-radius: 4px;
  padding: 6px;
}

#btnLocalizacao,
#btnUnidade {
  background: rgba(245, 245, 244, 0.7);
  backdrop-filter: blur(6px);
  margin-bottom: 8px;
  animation: slideInRight 1s;
}

#btnLocalizacao {
  border-radius: 4px 0 0 4px;
}
.fixo {
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bloco-form {
  width: 100%;
  display: none;
  flex-direction: column;
  border-radius: 4px 4px 0 0;
  gap: 8px;
  animation: slideInUp;
  animation-duration: 0.5s;
}

.bloco-form h4 {
  text-align: center;
}

.bloco-form form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bloco-form form div {
  display: flex;
  gap: 8px;
}

.bloco-form > div {
  display: flex;
  justify-content: flex-end;
}

.bloco-form input {
  flex-grow: 1;
}

body {
  max-height: 100vh;
  background: url("./img/default.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

main {
  width: min(100%, 1280px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 16px;
  gap: 16px;
}

.grid-meio {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30vh;
}

.grid-hoje {
  display: grid;
  grid-template: 1fr 1.5fr 1.5fr / repeat(2, 1fr);
  gap: 16px;
}

.grid-hoje .info {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-hoje .info #cidade {
  font-size: 3.5rem;
}

.temperatura,
.vento {
  display: flex;
  font-size: 4.2rem;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}

.grid-hoje .temperatura,
.grid-hoje .vento {
  grid-column: span 2;
}

.unidade {
  font-size: 1.5rem;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.grid-dias {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 16px;
}

.grid-dias .dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.grid-dias .dia h4 {
  font-size: 1.3rem;
}

.grid-dias .dados {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.grid-dias .temperatura,
.grid-dias .vento {
  font-size: 3rem;
  position: relative;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-right: 16px;
}

.grid-dias .unidade {
  font-size: 1.2rem;
  bottom: 0;
  right: 0;
}

footer {
  width: min(100%, 1280px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.perfil {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 1.1rem;
}

.perfil .social {
  display: flex;
  gap: 8px;
  font-size: 1.3rem;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.tecnologias p {
  text-align: center;
}

@media (min-width: 600px) {
  .grid-hoje {
    grid-template: 1fr 2fr / repeat(2, 1fr);
  }

  .grid-hoje .temperatura,
  .grid-hoje .vento {
    grid-column: span 1;
  }

  .grid-dias {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  footer {
    grid-template-columns: 1fr 2fr;
  }

  .tecnologias {
    align-items: flex-start;
  }

  .tecnologias p {
    text-align: left;
  }
}

@media (min-width: 900px) {
  .grid-meio {
    grid-template-columns: 60% 1fr;
  }

  .fixo {
    top: 3vh;
    right: 0px;
    width: auto;
  }

  .bloco-form {
    border-radius: 4px 0 0 4px;
    animation: slideInRight;
    animation-duration: 1s;
  }
}

@media (min-width: 1280px) {
  .grid-meio {
    grid-template-columns: repeat(2, 1fr);
  }
}
